<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Post</h1>
    <form th:action="@{/posts/{id}/update(id=${post.id})}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${post.title}" />
        <br />
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" th:value="${post.author}" />
        <br />
        <label for="body">Body:</label>
        <textarea id="body" name="body" th:text="${post.body}"></textarea>
        <br />
        <input type="submit" value="Save" />
    </form>
</body>

</html>