<!--
    https://www.thymeleaf.org/documentation.html 

    Documentação oficial do Thymeleaf
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <a th:href="@{/posts}">
        <h1>Blog Posts</h1>
    </a>

    <div th:each="post : ${posts}">
        <a th:href="@{/posts/{id}(id=${post.id})}">
            <h2 th:text="${post.title}"></h2>
        </a>

        <p>
            <span th:text="${post.author}"></span>
            <span th:text="${post.date}"></span>
        </p>

        <p th:text="${#strings.abbreviate(post.body, 50)}"></p>
    </div>


</body>

</html>